body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header-part {
    background-image: linear-gradient(180deg, #070211, rgba(7, 2, 17, 0.00)), url('images/Banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 470px;
    border-radius: 16px;
    margin: 50px 140px 0 140px;
}

.header-title {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    padding-top: 150px;

}

.header-subtitle {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 700;
    padding: 0 170px 100px 170px;

}

.discount {
    text-align: center;
    margin: 100px 200px 100px 200px;
}

.discount-title {
    color: rgba(3, 29, 79, 0.834);
    text-align: center;
    font-family: Inter;
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 40px;
}

.discount-subtitle {
    color: rgba(3, 29, 79, 0.834);
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
}

.discount-category {
    color: #070211;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.discount-pic {
    width: 550px;
}


.midnight-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #070211, rgba(7, 2, 17, 0.00)), url("images/Vectorrr.png");
    background-size: cover;
    border-radius: 5px;
    height: 460px;
    margin: 0 140px 0 140px;

}

.midnight-content {
    padding: 120px 30px 140px 120px;
}

.midnight-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 55px;
    line-height: 65px;
    margin-bottom: 0;
}

.midnight-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 13px;
    line-height: 20px;
}

.midnight-pic {
    height: 300px;
    padding: 60px 110px 60px 0;

}
.midnight-btn{
    font-family: Inter;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    background: rgba(7, 64, 70, 0.834);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.party-info {
    margin: 100px 140px 100px 140px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0.00));
    padding: 100px 340px 200px 340px;
    text-align: center;
}

.party-title {
    font-family: Inter;
    font-size: 19px;
    font-weight: 700;
    line-height: 14px;
    text-transform: capitalize;
}

.party-title span {
    color: rgba(3, 29, 79, 0.834);
}

.primary-btn {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(3, 29, 79, 0.834);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;

}

.primary-btn a {
    color: #FFF;
    text-decoration: none;
}

.coming-soon-content{
    display:flex;
    justify-content: space-between;
    margin: 0 140px 100px 140px;
    gap:88px;

}

.best-offer-title{
color: #F00;
font-family: Inter;
font-size: 18px;
font-weight: 500;
}
.best-offer-subtitle{
color: #070211;
font-family: Merriweather;
font-size: 30px;
font-weight: 900;
}
.best-offer-description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 15px;
line-height: 25px;
}

.best-offer-pic img{
    border: 10px solid rgba(3, 29, 79, 0.834);
    border-radius: 463px;
    padding:20px;
    height: 250px;
    
}

.best-offer-header{
    color:rgba(3, 29, 79, 0.834);
    font-family: Inter;
    font-weight: 900;
    font-size: 30px;
}

.best-offer-2024 img{
width: 100px;
height: 100px;
}


.holiday-content{
    margin: 0 140px 100px 140px; 
}
.about-holiday{
    text-align: center;
}

.holiday-title{
color: #070211;
font-family: Inter;
font-size: 15px;
font-weight: 600;
}
.holiday-subtitle{
font-family: Merriweather;
font-size: 55px;
font-weight: 900;
}
.holiday-subtitle span{
  color: #F00;
}

.holiday-description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 15px;
line-height: 25px;
}
.holiday-bottom-part{
    margin-top: 100px;
    background-image: url('images/Rectangle2.png'),url('images/Rectangle1.png');
    background-repeat: no-repeat;
    background-position: bottom,  right top; 
    border-radius: 14px 0px 14px 14px;
    padding-bottom:200px; 
}
.bottom-pic1{
    position: relative;
    top:200px;
}

.bottom-pic2{
    position: relative;
    right: 100px;
    bottom: 50px;
}


.portfolio {
    margin: 0 140px 100px 140px;
}

.portfolio-title{
color: #F00;
font-family:Inter;
font-size: 18px;
font-weight: 500;
}
.portfolio-sub-title{
color: #070211;
font-family: Merriweather;
font-size: 30px;
font-weight: 900;
}
.portfolio-description{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 15px;
line-height: 25px;
text-align: justify;
padding-right: 220px; 
}

.gifts{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    
}
.gifts img{
    height: 345px;

}

.gifts img:hover{
    border-radius: 30%;
}

.Subscribe-content{
    margin: 0 140px 100px 140px;
    background: rgba(255, 0, 0, 0.05);  
    border-radius: 16px;
    text-align: center;
    padding: 50px 200px 100px 200px;
    
}
.Subscribe-content img{
height: 100px;
}
.subscribe-title{
 color: #070211;
 font-family: Merriweather;
font-size: 30px;
font-weight: 900;

}
.subscribe-description{
 color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 15px;
line-height: 25px;
}

input[type="email"]{
width: 350px;
height: 37px;
border: 0;
background: #FFF;
padding: 5px 25px;
position: relative;
right: -30px;
z-index: 1; 
}


.sub-btn{
color: #FFF;
width: 180px;
height: 47px;
border-radius: 0px 50px 50px 0px ;
border: none;
background: #F00;
padding: 5px 25px;
font-family: Inter;
font-size: 15px;
font-weight: 600;
position: relative;
bottom: -1px;
}


footer{
    background: #070211;
    height: 570px;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 120px 140px 50px 140px;
}
.footer-icons{
   display: flex;
   justify-content: center;
   gap:20px;
   height: 50px;
   padding-top:35px ;
   padding-bottom: 35px;
}
hr{
    margin-left: 140px ;
    margin-right:140px ; 

}
.footer-unsubscribe{
    display: flex;
    justify-content: space-between;
    padding: 50px 140px  0 140px;
}



